<ion-header>
    <ion-navbar color="primary">
        <ion-title>Publicaciones</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="listarPublicaciones()">
                <ion-icon name="refresh"></ion-icon>
            </button>
            <button ion-button icon-only (click)="goCrearPublicacion()">
                <ion-icon name="add-circle"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list>
        <ion-card *ngFor="let objdata of data; let index= index"
                  detail-push (click)="openWiew(objdata)">
          
            <ion-item>
                <ion-avatar item-start>
                <img src="https://cdn4.iconfinder.com/data/icons/rcons-user/32/boss_man-512.png">
                </ion-avatar>
                <h2>{{objdata.PUBL_ID}} - {{objdata.PERS_NOMBREAPELLIDO}}</h2>
                <p>{{objdata.PUBL_FECHACREADO}}</p>
            </ion-item>
            
            <ion-slides pager>

                <ion-slide *ngFor="let imagen of objdata.adjuntos">
                    <img style="width: 100%" src="{{imagen.url}}">
                </ion-slide>
                
            </ion-slides>
            
            <ion-card-content>
                <p>
                    {{objdata.PUBL_DESCRIPCION}}
                </p>
            </ion-card-content>
            
            <ion-row>
                <ion-col>
                <button ion-button icon-start clear small>
                    <ion-icon name="text"></ion-icon>
                    <div>{{objdata.comentarios.length}} Comentarios</div>
                </button>
                </ion-col>
            </ion-row>
            
            </ion-card>
    </ion-list>

</ion-content>
